@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Goudy+Bookletter+1911|Acme|Lobster+Two|Pacifico|Shadows+Into+Light');

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: Lora,"Helvetica Neue",Helvectica,Arial,sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}

header{
    background-color: #FFED74;
}

nav{
    background-color: #E8C66A;
}

main{

}

section{
    background-color: #FFE2B8;
}
div{
    background-color: #FFE2B8;
}

footer{
    background-color: #FF957E;
}

h1,h2,h3 {
    border-bottom: 4px white solid;
    display: inline-block;
}

h1 {
    margin: 2em 0 0 0;
    text-transform: uppercase;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1em;
}

h2, h3{
    font-family: 'Acme', sans-serif;
    font-weight: 100;
    margin: 1em auto;
}

p {
    margin: 1.5em auto;
    font-family: 'Goudy Bookletter 1911', serif;
    width: 480px;
 }

 a{
    font-family: 'Goudy Bookletter 1911', serif;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    /*font-variant: small-caps;*/
 }

a:hover,
a:focus {
    color: #1d9b6c;
}

#sidenav{

}

#maincontent{

}

.content{
    display: inline-block;

}



#navlinks{

}

/*.container{
	column-count: 2;
	column-gap: 40px;

}*/