@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Goudy+Bookletter+1911|Acme|Lobster+Two|Pacifico|Shadows+Into+Light');

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: Lora,"Helvetica Neue",Helvectica,Arial,sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}

/*  Global  */

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#sidenav{
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px; 
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px; 
    float: right;
    width: 62%;
}
}

#right {
    background-color: #E55B88   ;
    border: 1px black solid;
    padding: 20px; 
    float: left;
    width: 30%;
}
}

header{

}

nav{
    
}

main{

}

section{
  
}
div{

}

footer{
}

h1,h2,h3 {
    border-bottom: 4px white solid;
    display: inline-block;
}

h1 {
    margin: 2em 0 0 0;
    text-transform: uppercase;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1em;
}

h2, h3{
    font-family: 'Acme', sans-serif;
    font-weight: 100;
    margin: 1em auto;
}

p {
    margin: 1.5em auto;
    font-family: 'Goudy Bookletter 1911', serif;
    width: 480px;
 }

 a{
    font-family: 'Goudy Bookletter 1911', serif;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    /*font-variant: small-caps;*/
 }

a:hover,
a:focus {
    color: #1d9b6c;
}

#maincontent{

}

.content{
    display: inline-block;

}



#navlinks{

}

/*.container{
	column-count: 2;
	column-gap: 40px;

}*/