*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	font-family: Lora,"Helvetica Neue",Helvectica,Arial,sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 18px;
    line-height: 1.5;
}
section {
	padding:4em 0;
}
h1 {
    margin: 0 0 1em;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size:2em;
    letter-spacing: 1px;
}
p {
    margin: 0 0 1.5em;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

/*.container{
	column-count: 2;
	column-gap: 40px;

}*/
